/* * {
     outline: 2px solid red;
 } */


/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */


/* dancing-script-regular - latin */

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/dancing-script-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/dancing-script-v16-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-regular - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v18-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-900 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('../fonts/montserrat-v18-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v18-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* arvo-italic - latin */

@font-face {
    font-family: 'Arvo';
    font-style: italic;
    font-weight: 400;
    src: local(''), url('../fonts/arvo-v14-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/arvo-v14-latin-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-regular - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container {
    width: 940px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 50px;
    margin-bottom: 105px;
}

.menu-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    width: 480px;
    justify-content: space-between;
}

.logo {
    font-family: 'Dancing Script';
    font-size: 26px;
    color: #fed136;
    text-decoration: none;
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.menu-item {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #222;
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.menu-item:hover {
    color: #fed136;
}

.title {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 900;
    text-align: center;
    margin: 0px;
    font-size: 40px;
    margin-bottom: 10px;
}

.black {
    color: #222;
}

.sub-title {
    font-family: 'Arvo';
    font-style: italic;
    font-weight: 400;
    display: block;
    text-align: center;
    color: #777;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 80px;
}

.service-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.service-item {
    width: 280px;
}

.title-service-item {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}

.title-service-item::before {
    content: "";
    display: block;
    width: 72px;
    height: 72px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(254, 209, 54);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 28px;
}

.text-service-item {
    margin: 0px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #777;
    font-size: 14px;
    line-height: 17px;
}

.bascet::before {
    background-image: url(../img/Icon-Basket.png);
}

.laptop::before {
    background-image: url(../img/Icon-Laptop.png);
}

.locked::before {
    background-image: url(../img/Icon-Locked.png);
}

.services {
    margin-bottom: 120px;
}

.contact {
    background-color: #222;
    background-image: url(../img/Map\ Image.png);
    background-position: right;
    background-repeat: no-repeat;
}

.white {
    color: #FFF;
}

input {
    width: 455px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    color: #222;
    text-transform: uppercase;
    padding-left: 20px;
    margin-bottom: 30px;
}

input::placeholder {
    color: #bbbbbb;
    background-color: hotpink;
}

input[type="email"]:invalid {
    background-color: hotpink;
}

input[type="email"]:valid {
    background-color: green;
    color: greenyellow;
}

form input[type='email']:invalid {
    border: hotpink;
}

textarea {
    resize: none;
    width: 455px;
    height: 210px;
}